# Flutter/Dart
.dart_tool/
.packages
.pub/
.flutter-plugins-dependencies
build/

# Flutter generated
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/

android/.gradle/
android/app/build/
android/local.properties

# macOS
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml

# Misc
*.log
*.tmp
.DS_Store
*.txt